.basket {
  &__list {
    width: 100%;
  }

  &__item {
    border-top: 1px solid #ccc;
    padding: 20px 0;
    widows: 100%;
    display: flex;
    align-items: center;

    &-index {
      flex: 0 0 10%;
    }
    &-name {
      font-weight: bold;
      font-size: 18px;
      flex: 0 0 20%;
    }

    &-desc {
      font-size: 12px;

      flex: 0 0 20%;
    }
    &-count {
      flex: 0 0 15%;
      input {
        max-width: 50px;
      }
    }

    &--notification{
      border-top: 0;
      .basket__item-name,
      .basket__item-desc,
      .basket__item-count {
        font-size: 12px;
        color: gray;
        font-weight: 400;
      }
    }
    & + * {
      margin-top: 12px;
    }
  }
}


.nav {
  &-link {
    position: relative;
    &__label {
      background: rgb(252, 207, 45);
      width: 24px;
      height: 24px;
      font-size: 10px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-left: 4px;
      color: #000;
      border-radius: 50%;
      transform: translateY(-10px);
    }
  }
  &-item {
    padding-bottom: 2px;
    a {
      color: #fff;
    }

    &.active {
      a {
        font-weight: 600;
      }
    }
  }
}
